.menu button {
    display: inline-block;
    background-color: #2428a2;

    color: white;
    text-decoration: none;
    padding: 12px 25px;
    margin: 15px 0;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-color: #fafaff;
}

.menu button:hover {
    background-color: #e9e8ee;
    color: #2428a2;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    border-color: #2428a2;
}


.menu button:active {
    background-color: #ffffff;
    transform: translateY(2px);
}

.admin-link {
    display: inline-block;
    background-color: #2428a2;

    color: white;
    text-decoration: none;
    padding: 12px 25px;
    margin: 15px 0;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


.admin-link:hover {
    background-color: #e9e8ee;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.admin-link:active {
    background-color: #ffffff;
    transform: translateY(2px);
}

.btn-primary {
    display: inline-block;
    background-color: #2428a2;

    color: white;
    text-decoration: none;
    padding: 12px 25px;
    margin: 15px 0;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-color: #fafaff;
}

.btn-primary:hover {
    background-color: #e9e8ee;
    color: #2428a2;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    border-color: #2428a2;
}


.btn-primary:active {
    background-color: #ffffff;
    transform: translateY(2px);
}

.search-bar {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
    font-size: 16px;
}

/*tabele*/
.scrollable-table-container {
    max-height: 400px;
    /* Maksymalna wysokość kontenera */
    overflow-y: auto;
    /* Włącza przewijanie w pionie */
    border: 1px solid #ddd;
    /* Opcjonalne – dla lepszej widoczności kontenera */
    margin-bottom: 20px;
    /* Opcjonalne – odstęp od innych elementów */
}

.table {
    width: 100%;
    /* Szerokość tabeli na 100% kontenera */
    border-collapse: collapse;
    /* Aby usunąć przestrzenie między komórkami */
}

.table th,
.table td {
    padding: 8px;
    /* Odstęp w komórkach */
    text-align: left;
    /* Wyrównanie tekstu w komórkach */
    border-bottom: 1px solid #ddd;
    /* Linia pod komórkami */
}

.table th {
    background-color: #f4f4f4;
    /* Tło nagłówków */

    top: 0;
    /* Utrzymanie nagłówków na górze, gdy przewijasz */
    z-index: 1;
    /* Aby nagłówki były widoczne nad zawartością */
}