{%extends "base_admin.html"%}
{%block title%}
Choose tournament to manage
{%endblock title%}
{% block content %}
<form method="POST">
    <h3 align="center">Wybierz turniej</h3>
    <div class="form-group">
        <label for="matches">Choose a tournament:</label>
        <select name="tournament_id" id="tournament_id" class="form-control select2">
            <option value="" disabled selected></option>
            {% for tournament in tournaments %}
            <option value="{{ tournament.id }}">
                {{ tournament.name }} ({{tournament.type}})
            </option>
            {% endfor %}
        </select>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Wykonaj</button>
</form>

{% endblock content %}