{% extends "base.html" %}

{% block title %}
Trenerzy
{% endblock %}

{% block content %}
<h1>Trenerzy</h1>

<form method="get" action="{{ url_for('views.coaches') }}">
    <input type="text" name="query" placeholder="Wyszukaj trenerów..." value="{{ request.args.get('query', '') }}">
    <button type="submit">Szukaj</button>
</form>

<ul>
    {% for coach in coaches %}
    <a href="{{ url_for('views.coach_details', coach_id=coach.id) }}">
    <li>
        
            {{ coach.firstName }} {{ coach.lastName }}
        
    </li>
    </a>
    {% else %}
    <li>Brak wyników</li>
    {% endfor %}
</ul>

<a href="{{ url_for('views.home') }}">Powrót do strony głównej</a>
{% endblock %}