{% extends "base_admin.html" %}

{% block title %}
Create tournament
{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Utwórz nowy turniej</h3>
    <div class="form-group">
        <label for="name">Nazwa turnieju</label>
        <input type="text" class="form-control" id="tournamentName" name="tournamentName"
            placeholder="Podaj nazwę turnieju">
    </div>
    <div class="form-group">
        <label for="type">Format turnieju</label>
        <select name="tournamentType">
            <option>Liga</option>
            <option>Turniej pucharowy</option>
        </select>
    </div>
    <div class="form-group">
        <label for="numTeams">Liczba Drużyn</label>
        <input type="number" class="form-control" name="numTeams" id="numTeams" required>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}