{% extends "base.html" %}

{% block title %}
Create tournament
{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Cos tam</h3>
    <div class="form-group">
        <label for="name">Nazwa turnieju</label>
        <input type="text" class="form-control" id="tournamentName" name="tournamentName" placeholder="Podaj nazwę turnieju">

    </div>
    <div class="form-group">
        <label for="type">Format turnieju</label>
        <input type="text" class="form-control" id="tournamentType" name="tournamentType" placeholder="Podaj status turnieju">
        
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}