{% extends "base.html" %}

{% block title %}
Changed
{% endblock %}
{% comment %} na środku tutaj mają się wyświetlać ostatnie 3 mecze dla każdej ligi, wynik meczu i miejsce w rankingu/ilosc wygranych każdej drużyny {% endcomment %}
{% comment %}  Po lewej tabelka z wszystkimi ligami gdzie po kliknięciu przenosisz się do leaderboardu danej ligi, można zrobić tutaj że przenosi do tej samej strony ale z innym wybranym filtrem sortowania{% endcomment %}
{% comment %} na górze w prawym rogu przycisk login który sprawi że pojawi się okienko na z=3(po prostu nad wszystkim) reszta się zaciemni lekko  {% endcomment %}
{% comment %} obok loginu ikonka lupy, po kliknięciu przenosi do strony z możliwością wyszukania drużyny/gracza {% endcomment %}
{% comment %} strona drużyny: po wejściu na nią widać ostatni mecz i wynik, zakładka wyniki która wyświetli mecze dla danej drużyny, zakładka mecze: pokaże zbliżające się mecze dla druzyny, zakładka skład: wyświetli zawodników i ich staty {% endcomment %}
{% comment %} Strona Zawodnika: Wyświetli statystyki, wiek, przynależność do drużyny, ostatnie mecze w których brał udział {% endcomment %}

{% block content %}
Kontencik
{% endblock %}