{%extends "base_admin.html"%}
{%block title%}
Manage tournament
{%endblock title%}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h1 class="h3 mb-0">Turniej: {{ tournament.name }}</h1>
        </div>
        <div class="card-body">
            <p><strong>Typ turnieju:</strong> {{ tournament.type }}</p>
            <p><strong>Status:</strong> {{ tournament.status }}</p>
            <p><strong>Runda:</strong> {{ tournament.round }}</p>
        </div>
    </div>
</div>

<div class="actions">
    <!-- Przerwij turniej -->
    <form method="POST" action="{{ url_for('admin.cancel_tournament', tournament_id=tournament.id) }}">
        <button type="submit" class="btn btn-danger">Przerwij turniej (Anuluj)</button>
    </form>

    </br>
    <!-- Zakończ turniej -->
    <form method="POST" action="{{ url_for('admin.end_tournament', tournament_id=tournament.id) }}">
        <button type="submit" class="btn btn-warning">Zakończ turniej</button>
    </form>
    </br>
    <!-- Usuń turniej z bazy -->
    <form method="POST" action="{{ url_for('admin.delete_tournament', tournament_id=tournament.id) }}">
        <button type="submit" class="btn btn-danger">Usuń turniej z bazy</button>
    </form>

    <br />
    <!-- Losuj kolejną rundę -->
    {% if tournament.type == 'playoff' %}
    <form method="POST" action="{{ url_for('admin.draw_next_round', tournament_id=tournament.id) }}">
        <button type="submit" class="btn btn-primary">Losuj kolejną rundę</button>
    </form>
    {% endif %}
</div>
{% endblock content %}