{% extends "base_admin.html" %}

{% block title %}
Dodaj match-event
{% endblock %}

{% block content %}
<h3 align="center">Dodaj wydarzenie do meczu</h3>

<!-- Filtrowanie po turnieju -->
<div class="form-group">
    <label for="tournament_filter">Wybierz turniej:</label>
    <select id="tournament_filter" class="form-control" onchange="filterByTournament()">
        <option value="all">Wszystkie</option>
        {% set unique_tournaments = [] %}
        {% for match in matches %}
        {% if match.tournament.name not in unique_tournaments %}
        <option value="{{ match.tournament.name }}">{{ match.tournament.name }}</option>
        {% set _ = unique_tournaments.append(match.tournament.name) %}
        {% endif %}
        {% endfor %}
    </select>
</div>

<!-- Tabela meczów -->
<div class="scrollable-table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Turniej</th>
                <th>Drużyna gospodarzy</th>
                <th>Drużyna gości</th>
                <th>Gole gospodarzy</th>
                <th>Gole gości</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody id="match_table_body">
            {% for match in matches %}
            {% if match.status == 'ended' %}
            <tr data-tournament="{{ match.tournament.name }}">
                <td>{{ match.tournament.name }}</td>
                <td>{{ match.home_team.name }}</td>
                <td>{{ match.away_team.name }}</td>
                <td>{{ match.scoreHome }}</td>
                <td>{{ match.scoreAway }}</td>
                <td>
                    <a href="{{ url_for('views.match_event_detail', match_id=match.id) }}" class="btn btn-primary">
                        Wybierz
                    </a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function filterByTournament() {
        const selectedTournament = document.getElementById("tournament_filter").value;
        const rows = document.querySelectorAll("#match_table_body tr");

        rows.forEach(row => {
            row.style.display =
                selectedTournament === "all" || row.dataset.tournament === selectedTournament
                    ? ""
                    : "none";
        });
    }
</script>
{% endblock %}