{% extends "base.html" %}

{% block title %}
Szczegóły Zawodnika
{% endblock %}

{% block content %}
<div class="player-details-container">
    <h1 class="player-name">{{ player.firstName }} {{ player.lastName }}</h1>

    <div class="player-info">
        <h2>Informacje o zawodniku</h2>
        <p><strong>Wiek:</strong> {{ player.age }}</p>
        <p><strong>Gole:</strong> {{ player.goals }} ⚽</p>
        <p><strong>Wystąpienia:</strong> {{ player.appearances }}</p>
        <p><strong>Status:</strong> {% if player.status == 'None' %} Brak statusu {% else %} {{ player.status }} {%
            endif %}</p>
        <p><strong>Pozycja:</strong> {% if player.position == 'None' %} Brak przypisanej pozycji {% else %} {{
            player.position }} {% endif %}</p>
    </div>

    <div class="player-team">
        <h2>Drużyna</h2>
        <p>
            {% if team %}
            <a href="{{ url_for('views.team_details', team_id=team.id) }}">{{ team.name }}</a>
            {% else %}
            Brak drużyny
            {% endif %}
        </p>
    </div>

    <div class="player-events">
        <h2>Wydarzenia Meczu</h2>
        <ul class="match-events">
            {% for event in match_events %}
            <a href="{{ url_for('views.match_details', match_id=event.match.id) }}">
                <li class="event-item">
                    {% if event.eventType == "goal" %}
                    ⚽
                    {% elif event.eventType == "redCard" %}
                    🔴
                    {% endif %}
                    {{ event.eventType }} - {{ event.description }} (Mecz: {{ event.match.home_team.name }} vs {{
                    event.match.away_team.name }})
                </li>
            </a>
            {% else %}
            <li>Brak wydarzeń</li>
            {% endfor %}
        </ul>
    </div>

    <a id="back" href="{{ url_for('views.players') }}">⬅ Powrót do zawodników</a>
</div>
{% endblock %}