{% extends "base.html" %}

{% block title %}
{{ referee.firstName }} {{ referee.lastName }} - Szczegóły
{% endblock %}

{% block content %}
<div class="referee-details-container">
    <h1 class="referee-name">{{ referee.firstName }} {{ referee.lastName }}</h1>

    <div class="referee-matches">
        <h2>Mecze</h2>

        {% if matches %}
        <table>
            <thead>
                <tr>
                    <th>Mecz</th>
                    <th>Wynik</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matches %}
                <tr>

                    <td>
                        <a href="{{ url_for('views.match_details', match_id=match.id) }}">
                            {{ match.home_team.name }} vs {{ match.away_team.name }}
                        </a>
                    </td>
                    <td>
                        {% if match.scoreHome is not none and match.scoreAway is not none %}
                        {{ match.scoreHome }} - {{ match.scoreAway }}
                        {% else %}
                        Brak wyniku
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text-muted text-center">Brak meczy</p>
        {% endif %}
    </div>

    <a id="back" href="{{ url_for('views.referees') }}">⬅ Powrót do sędziów</a>
</div>
{% endblock %}